:root {
    --blanco: #ffffff;
    --oscuro: #000;
    --Azulrey: #0e1f53;
    --Celeste: #62ABD9;
    --Azulmedio: #032CA6;
    --Gris: #D9D9D9;
    --Morado: #E0A8E6;
    --Contraste: #F05050;
    --Fuente-Principal: 3.8rem;

    --negro: #0D0D0D;
    --gris4: #595959;
    --gris3: #595959;
    --gris2: #8C8C8C;
    --gris1: #BFBFBF;

    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;

    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

/* Ajustes generales para toda la página */
html {
    font-size: 62.5%; /* Facilita usar rem en medidas */
    box-sizing: inherit; /* Permite que padding y border no afecten el tamaño total */
    scroll-snap-type: y mandatory;
}

/* Aplica box-sizing a todos los elementos */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Estilos para el cuerpo de la página */
body {
    background-color: var(--Gris);
    font-size: 16px; /* 1rem = 10px */
    font-family: "Montserrat", serif;
    background-image: linear-gradient(to top, var(--Gris) 0%, var(--blanco) 50%);
}

.header {
    background-color: var(--bg);
    width: auto;
    height: 100px;
}



.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;

    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;

    &__container {
        font-weight: 600;
        overflow: hidden;
        height: 40px;
        padding: 0 40px;

        &:before {
            content: '[';
            left: 0;
        }

        &:after {
            content: ']';
            position: absolute;
            right: 0;
        }

        &:after,
        &:before {
            position: absolute;
            top: 0;

            color: #16a085;
            font-size: 42px;
            line-height: 40px;

            -webkit-animation-name: opacity;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            animation-name: opacity;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

        &__text {
            display: inline;
            float: left;
            margin: 0;
        }

        &__list {
            margin-top: 0;
            padding-left: 110px;
            text-align: left;
            list-style: none;

            -webkit-animation-name: change;
            -webkit-animation-duration: 10s;
            -webkit-animation-iteration-count: infinite;
            animation-name: change;
            animation-duration: 10s;
            animation-iteration-count: infinite;

            &__item {
                line-height: 40px;
                margin: 0;
            }
        }
    }
}

.nav-fondo {
    background-color: var(--bg);
}

.Navegacion-Principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 40px;
}

/* Diseño de la navegación */
.Navegacion-Principal {
    display: flex;
    flex-direction: column; /* En móviles, los elementos se apilan */
}

@media (min-width: 768px) {
    .Navegacion-Principal {
        flex-direction: row;
    }
}

/* Efecto al pasar el mouse por los enlaces */
.Navegacion-Principal a:hover {
    background-color: var(--blanco);
    color: var(--negro);
}
/* Tamaños de los títulos */
h1{font-size: 3.8rem; }

/* Estilos para el título principal */
.titulo { 
  text-align:center;
  font-size: 3.8rem;
  color:var(--Azulrey);
  font-family: "Montserrat", serif;
}


.header {
    background-color: var(--bg);
    width: auto;
    height: 100px;
}

.nav-fondo {
  background-color: var(--negro);
}

.Navegacion-Principal a{
  color: var(--blanco);
  text-decoration:none;
  font-size: 2rem;
  font-weight: bold;
  padding: 40px;
}

/* Diseño de la navegación */
.Navegacion-Principal {
  display: flex;
  flex-direction: column; /* En móviles, los elementos se apilan */
}

@media (min-width: 768px) {
  .Navegacion-Principal {
    flex-direction: row;
  }
}

@media (min-width:768px) {
  .Ondas .ondas-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .Ondas .texto-ondas {
    position: absolute;
    z-index: 10;
    left: 50px; 
    color: var(--oscuro); 
  }

  .Ondas svg {
    width: 100%;
    position: relative;
  }
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
}

.profile-section {
  flex: 1;
  min-width: 500px;
}

.profile-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #000;
  bottom: -5px;
  left: 0;
}

.info-section {
  flex: 2;
  min-width: 300px;
  font-size: 2rem
}

.bio {
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.skill-tag {
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
}

.education-experience {
  margin-bottom: 2rem;
}

.timeline-item {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.5rem;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  left: 0;
  top: 6px;
}

.year {
  font-weight: bold;
  margin-bottom: 0.3rem;
}


.interest-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.foto-perfil-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.foto-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.contenedor2 {
  display: flex; 
  max-width: 1500px;
}

.izquierda2 {
  flex: 1;
  background-color: var(--blanco); 
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  height: 500px;
  width: 600px;
  color: var(--blanco);
  justify-content: center;
  text-align: center;
}

.izquierda3{
  width: 500px;
  background-color: var(--blanco);
  margin-left: 100px;
}

.derecha2 {
  flex: 1; 
  background-color: var(--blanco); 
  height: 500px;
  width: 700px;
}

.Icon2{
  margin-left: 200px;
  margin-top: 70px;
  justify-content: center;
}

.Circle{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #D9D9D9;
}

/* Pie de página */
.footer {
    background-color:var(--oscuro);
    color: var(--blanco);
    height: 250px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-left {
    flex: 2;
    margin-left: 2rem;
    max-width: 400px;
    font-size: 0.8rem;
    line-height: 1.4;
    padding-left: 10px;
    font-size: 2.5rem;
  }
  .footer-left p {
  padding: auto;
  }  
  .footer-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    font-size: 2.5rem;
  }
  
  .footer-center .address {
    display: flex;
    align-items: end;
    gap: 2px;
  
  }

  
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 2.5rem;
  }
  
  .footer-right .contact {
    display: flex;
    align-items: center;
  }
  
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: var(--blanco);
  }
  
  /* Diseño responsive */
  @media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .footer-left, .footer-center, .footer-right {
        width: 100%;
        max-width: 100%;
    }
    
    .footer-right {
        align-items: flex-start;
    }
  
    .Projects{
        box-shadow: -12px 46px 179px -130px rgba(57,57,61,1);
        background-color: var(--blanco);
        padding: 2rem;
        border-radius: 7rem;
      

    }
  }